;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Tue Jun 14 22:03:35 2011
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("utf-8" "utf" "ali" "ecb" "maths" "test.p	" "f4" "make" "C-c" "kill-buffers-when-gdb-quit" "map" "eal-define-keys" "eval-de" "gud-settings" "face" "gx-ui"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/usr/bin/turpial" "~/Dev/MyProject/auto-fuckgfw/MyPOP3.py" "~/Dev/MyProject/auto-fuckgfw/FreeSSH.py" "~/Dropbox/Doc/XMLUG/DMA.org" "~/Music/cang.mp3" "~/Dropbox/Doc/XMLUG/emacs_world.html" "~/Dropbox/Doc/XMLUG/emacs_world.org" "~/.emacs.bmk" "~/.emacs" "~/.emacs.d/gx-lisps/gx-custom.el" "~/Dropbox/Doc/XMLUG/" "~/Dropbox/Doc/XMLUG/test.py" "~/.emacs.d/lisps/bm-1.53.el" "~/Dropbox/Doc/XMLUG/emacs.org" "~/Dropbox/config/.emacs" "/usr/share/emacs/site-lisp/ecb/ecb-layout.el" "~/.emacs.d/gx-lisps/gx-keymap.el" "~/.emacs.d/gx-lisps/gx-c.el" "~/Dropbox/Doc/XMLUG/Makefile" "~/Dropbox/Doc/XMLUG/test.c" "/tmp/test.c" "~/.emacs.d/gx-lisps/gx-python.el" "~/Dropbox/util.el" "~/Dropbox/gud-settings.el" "~/tmp/tmp.org" "~/Music/Tmp/ë∞≤ë¿÷ at17.mp3" "/home/geniux1/src/asterisk-1.6.2.6/main/asterisk.c" "/tmp/test.html" "~/test.c" "/usr/share/emacs/23.3/lisp/paren.el.gz"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/geniux/Dropbox/Doc/XMLUG/emacs_world.org"
  "emacs_world.org"
  'org-mode
  '(linum-mode auto-complete-mode global-auto-revert-mode ecb-minor-mode)
  1
  '(2779 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (overwrite-mode) (truncate-lines)))

(desktop-create-buffer 206
  "/home/geniux/Dev/MyProject/auto-fuckgfw/MyPOP3.py"
  "MyPOP3.py"
  'python-mode
  '(linum-mode hi-lock-mode auto-complete-mode ropemacs-mode semantic-highlight-func-mode semantic-decoration-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode yas/minor-mode global-auto-revert-mode hs-minor-mode ecb-minor-mode)
  2018
  '(1027 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/home/geniux/Dropbox/Doc/XMLUG/DMA.org"
  "DMA.org"
  'org-mode
  '(linum-mode auto-complete-mode global-auto-revert-mode ecb-minor-mode)
  2985
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . chinese-gbk-dos) (truncate-lines)))

(desktop-create-buffer 206
  "/home/geniux/Dropbox/Doc/XMLUG/DMA.html"
  "DMA.html"
  'html-mode
  '(linum-mode semantic-highlight-func-mode semantic-decoration-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode yas/minor-mode global-auto-revert-mode ecb-minor-mode)
  203
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . chinese-gbk-dos)))

(desktop-create-buffer 206
  "/home/geniux/Dropbox/Doc/XMLUG/emacs_world.html"
  "emacs_world.html"
  'html-mode
  '(linum-mode semantic-highlight-func-mode semantic-decoration-mode semantic-idle-scheduler-mode semantic-idle-summary-mode semantic-mru-bookmark-mode yas/minor-mode global-auto-revert-mode ecb-minor-mode)
  6731
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  nil
  "XMLUG"
  'dired-mode
  '(linum-mode global-auto-revert-mode ecb-minor-mode)
  797
  '(nil nil)
  t
  '("/home/geniux/Dropbox/Doc/XMLUG/")
  nil)

